<?xml version="1.0"?>
<appSettings>
	<add key="DebugInfoLogFile" value="C:\Temp\SharpComAdmin_Debug.log"/>
	<add key="ExceptionsLogFile" value="C:\Temp\SharpComAdmin_Exceptions.log"/>
	
	<add key="PropertiesAutocompleteKeepInCache" value="60"/>

	<add key="StoragePath" value="d:\Development\Web\SharpComStorage"/>
	<add key="PicturesFolder" value="p"/>
</appSettings>