<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="SqlDbCon" connectionString="Data Source=(local);Initial Catalog=SharpCom;Persist Security Info=True;User ID=SharpComLogin;Password=Sh4rpC0mP4$$" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings configSource="app.config"/>
	<system.web>
		<compilation debug="false" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" maxRequestLength="11000000" />
	</system.web>
</configuration>