body {font-family:"Segoe UI", Arial; font-size:12px;}

.clearfix {zoom: 1;}
.clearfix:after {content: "."; display: block; height: 0; clear: both; font-size: 0; visibility: hidden;}
.clear {display: block; font-size: 0; line-height: 0; height: 0; clear: both; margin: 0; padding: 0;}

#header {cursor:default;}
#header .left {float:left; display:inline;}
#header .right {float:right; display:inline; margin-left:20px;}
#header div {font-weight:bold;}
#header div.action {text-align:right;}
#header div select {font-size:10px; border:solid 1px #ccc;}
#refresh {font-size:10px; margin-left:3px; cursor:pointer;}

#menu {clear:both;}
#menu div {float:left; display:inline; vertical-align:middle;}
/*#menu div.sep {margin-right:5px; font-size:18px; padding-top:3px;}*/
#menu span {display:block;}
#menu ul {list-style-type:none; padding:0; margin-top:3px;}
#menu ul li {float:left; display:block; margin:6px 5px 0 0; padding:2px 10px; cursor:pointer; border:solid 1px #ccc; text-transform:uppercase;}
#menu ul.top li {margin:0 5px 0 0; padding:5px 15px;}

#tabs_titles {clear:both; padding-top:2px;}
#tabs_titles ul {list-style-type:none; padding:0; margin-top:3px;}
#tabs_titles ul li {float:left; display:block; width:200px; margin-right:5px; padding:1px 5px; cursor:pointer; border:solid 1px #ccc; border-bottom:none;}
#tabs_titles ul li div {float:left; display:inline; overflow:hidden; width:190px; height:20px; font-size:14px;}
#tabs_titles ul li div.close {float:right; display:inline; width:10px; color:#f00; font-weight:bold; font-size:14px;}

#tabs_containers {clear:both; border:solid 2px #ccc;}
#tabs_containers ul {list-style-type:none; padding:0; margin:0; height:100%;}
#tabs_containers ul li {height:100%;}

.hidden {display:none;}
.selected {color:#fff; background-color:#ccc; font-weight:bold;}